<h1>Usuário</h1>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Descrição:</strong>
    <%= @user.description %>
  </li>

</ul>

<span><%= link "Editar", to: Routes.user_path(@conn, :edit, @user) %></span> |
<span><%= link "Voltar", to: Routes.user_path(@conn, :index) %></span>
