<section class="phx-hero">
  <h1><%= gettext "Bem Vindo ao Portal Bier Lab!", name: "Phoenix" %></h1>
  <p>O lugar para deixar suas ideias livres.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Clique no link abaixo para realizar seu cadastro</h2>
    <ul>
      <li>
        <a href="http://localhost:4000/cadastro">Cadastro</a>
      </li>
      
      
    </ul>
  </article>
  
</section>
